.country-main {
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.countries-container {
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    color: tomato;
    background-color: bisque;
}

.country-flag img {
    width: 200px;
    padding: 10px;
}

.country-fixed, .country-detail {
    padding: 0 10px;
}

.country-fixed {
    margin-top: -16px;
    line-height: 5px;
}

.country-detail {
    font-weight: 400;
    line-height: 5px;
}